.Welcome-Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-image: url("assets/welcome-background.png");*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    font-weight: bold;
    height: 60vh;
}

.main{
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px 1fr));
    gap: 20px
}

.Get-Started{
    margin-top: 5vh;
}

.segment.ui.segment{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px 1fr));
    gap: 20px
}

.yours {
    width: 230px;
    align-items: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 10px auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}


.grid{
    grid-column: 0 auto;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 30% }
}

@keyframes typing2 {
    from { width: 0 }
    to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}