.Welcome-Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    font-weight: bold;
    height: 60vh;
}
.main.ui.grid{
    background-color: white;
}

.Get-Started{
    margin-top: 5vh;
}
.segment.ui.segment{
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.trending {
    width: 230px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 10px auto;
    letter-spacing: .15em;
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}
.featured{
    width: 270px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 10px auto;
    letter-spacing: .15em;
    animation:
            typing2 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 30% }
}
@keyframes typing2 {
    from { width: 0 }
    to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}